/node_modules
/public/hot
/public/Alipay/config.php
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
app_private_key.pem
/app/Payment/Alipay/log.txt
/app/Payment/Wxpay/logs
/public/index.html
/public/category
/public/article
/public/upload
