@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;}
body{font-size:14px; font-family:'Microsoft YaHei'; color:#333;}
ul,li { list-style:none;}
img { border:none;}
a:link,a:visited { text-decoration:none;color:#c8c8c8;}
a:active,a:hover { text-decoration:none;color:#FF7F02;}
.mt12 {
    margin-top: 12px;
}
.mt15 {
	float:left;
    margin-top: 15px;
}
.mt25 {
    margin-top: 25px;
}
.mr3 {
    margin-right: 3px;
}
.mt5 {
    margin-top: 5px;
}
.mt9 {
    margin-top: 9px;
}
.px14 {
    font-size: 14px;
}
.tr {
    text-align: right;
}
.c_a5, a.c_a5:hover {
    color: #a5a5a5;
}
/*全站头部*/
#topbar {
	width:100%;
	float:left;
    z-index: 50;
}
.fixed {
    position: fixed!important;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
#headbar {
    font-size: 14px;
}
.headbar {
    background: #192332;
    min-width: 1092px;
    height: 60px;
    padding: 0 88px 0 20px;
    position: relative;
    z-index: 5;
}
.headbar, .message-tip p {
    display: block;
}
.headbar h1 {
    width: 200px;
    height: 60px;
	float:left;
}
@media screen and (min-width: 801px) { 
.sousuo{
    width: 300px;
    line-height: 60px;
    float: left;
    overflow: hidden;
    margin-top: 20px;
}
.sousuo .text{
	width:207px;
	height:26px;
	float:left;
	border:2px solid #47576e;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius-topleft: 15px;
   -moz-border-radius-bottomleft:15px;
   -webkit-border-top-left-radius: 0;
   -webkit-border-bottom-left-radius: 20px;
   border-top-left-radius: 15px;
   border-bottom-left-radius:15px;

}
.sousuo .submit{
	width:40px;
	height:30px;
	float:left;
	background:#47576e;
	border:2px solid #47576e;
	color:#fff;
	cursor:pointer;
   -moz-border-radius-topright: 15px;
   -moz-border-radius-bottomright:15px;
   -webkit-border-top-right-radius: 0;
   -webkit-border-bottom-right-radius: 20px;
   border-top-right-radius: 15px;
   border-bottom-right-radius:15px;
}
}
@media screen and (max-width: 800px) { 
.sousuo{
    width: 100%;
    line-height: 60px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
}
.sousuo .text{
	width:22%;
	height:40px;
	float:left;
	border:2px solid #47576e;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius-topleft: 15px;
   -moz-border-radius-bottomleft:15px;
   -webkit-border-top-left-radius: 0;
   -webkit-border-bottom-left-radius: 20px;
   border-top-left-radius: 15px;
   border-bottom-left-radius:15px;

}
.sousuo .submit{
	width:80px;
	height:44px;
	float:left;
	background:#47576e;
	border:2px solid #47576e;
	color:#fff;
	cursor:pointer;
   -moz-border-radius-topright: 15px;
   -moz-border-radius-bottomright:15px;
   -webkit-border-top-right-radius: 0;
   -webkit-border-bottom-right-radius: 20px;
   border-top-right-radius: 15px;
   border-bottom-right-radius:15px;
}
}
.headbar h1 img{
	height:50px;
}
@media screen and (min-width: 801px) { 
.headbarnav {
    float: left;
    font-size: 14px;
}
}
@media screen and (max-width: 800px) { 
.headbarnav {
   display:none;
}
}
.headcart {
	background: #e83729;
    height: 62px;
    width: 62px;
    float: right;
    z-index: 2;
}
.headcart  strong{
    float: left;
    text-align: center;
    line-height: 62px;
    width: 100%;
	font-size:16px;
}
.headcart  strong a{
	display:block;
	color:#fff;
}
@media screen and (min-width: 801px) { 
.headtool {
	min-width:310px;
    float: right;
	overflow:hidden;
}
}
@media screen and (max-width: 800px) { 
.headtool {
	width:100%;
    float: left;
	height:60px;
	overflow:hidden;
}
}
.headbarnav dd {
    float: left;
}
.headbarnav dd a {
    float: left;
    color: #c8c8c8;
    line-height: 60px;
    height: 60px;
    margin-right: 30px;
    position: relative;
}
.headbarnav dd a em {
    background: url(/images/head.png) -165px 0 no-repeat;
    width: 28px;
    height: 14px;
    position: absolute;
    right: -25px;
    top: 15px;
    font-size: 0;
    line-height: 0;
}
.headcart .icocart {
    background: url(http://static1.mtime.cn/20160720105244/images/2014/head.png) 0 -45px no-repeat;
    width: 26px;
    height: 20px;
    position: absolute;
    left: 18px;
    top: 21px;
}
.headcart .numcart {
    background: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    color: #e83729;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 34px;
    top: 9px;
    border: 3px solid #e83729;
}
.headcart-tip {
    width: 350px;
    border-top: 3px solid #e83729;
    right: 0;
}
.headtip {
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    position: absolute;
    top: 60px;
    display: none;
    border: 1px solid #f5f5f5;
    border-top: 0;
}
.headcart-tip .tips {
    text-align: center;
    color: #999;
    padding: 100px 0;
}
.headtool .line {
    height: 60px;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid #141c28;
    border-right: 1px solid #303947;
    overflow: hidden;
}
@media screen and (min-width: 801px) { 
.headunlogin {
	min-width:110px;
	float:left;
   margin-left: 10px;
}
}
@media screen and (max-width: 800px) { 
.headunlogin {
	display:none;
}
}
.headunlogin a {
    color: #c9c9c9;
    line-height: 60px;
}
.headunlogin em {
    width: 0;
    height: 16px;
    border-left: 1px solid #303947;
    margin: 0 5px;
}
.headbarnav dd a i, .headlogin a i, .headmessage i, .headqr i, .headunlogin a i {
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 5px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -7px;
    display: none;
}

/*首页大图部分*/
.i_newshead {
    position: relative;
    zoom: 1;
    padding-top: 94px;
    z-index: 1;
}
.i_newshead ul.bgimg li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 550px;
    z-index: 1;
}
.i_newsimgs {
    background: url(/images/index_shadow2.png) no-repeat 0 0;
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 11px;
    padding-bottom: 0;
    z-index: 2;
}
.i_newsimgs .dl {
    width: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.i_newsimgs dl {
    width: 1000px;
    height: 360px;
    position: relative;
    zoom: 1;
    z-index: 2;

}
.i_newsimgs dd {
    width: 1000px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
	background:#fff;
}
.i_timebbs {
    background: #fff;
    position: relative;
    zoom: 1;
}
.clearfix, .fix {
    display: block;
}
.i_timetab {
    background: url(http://static1.mtime.cn/channel/20160902151944/images/index.jpg) no-repeat -60px -68px;
    width: 104px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 17px;
}
.fr {
    float: right;
    _display: inline;
}
.i_timeinner {
    width: 560px;
    padding: 60px 37px 0;
    float: left;
    display: inline;
}
.i_timeinner h3 {
    font-size: 34px;
    line-height: 1.2em;
    font-weight: normal;
}
.c_666, a.c_666:hover {
    color: #666; 
	margin-top: 9px;
	font-size: 14px;
}
.i_timecont {
    border-top: 1px dashed #ccc;
    margin-top: 12px;
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.5em;
}
.ele_replay .textarea {
    background: #fbfbfb;
    height: 30px;
    position: relative;
    zoom: 1;
    border: 1px solid #d6d6d6;
    padding: 3px 10px;
	margin-top: 12px;
}
.ele_replay .textarea textarea {
    background: transparent;
    border: 0;
    font-size: 13px;
    line-height: 32px;
    resize: none;
    color: #878787;
    width: 100%;
    padding: 0;
    overflow: hidden;
	height:32px;
}
<!--主体左边部分-->
.zhuti{
	width:100%; 
	float:left;
}
.i_conter {
    background: url(/images/index_shadow.png) no-repeat 0 0;
    width: 1000px;
    margin:-11px auto 0;
    padding: 11px 11px 0;
    position: relative;
    zoom: 1;
    z-index: 2;
}
@media screen and (min-width: 801px) { 
.zhuti{
	background: url(/images/index_shadow2.png) no-repeat 0 0; 
	width: 1000px;
	margin: 4em auto 0;
	padding: 11px 11px 0;
	position: relative;
	zoom: 1;z-index: 2;
}
}
@media screen and (max-width: 800px) { 
.zhuti{
	background: url(/images/index_shadow2.png) no-repeat 0 0; 
	width: 100%;
	margin: 4em auto 0;
	zoom: 1;z-index: 2;
}
}

.i_comcont {
    background: #fff;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 801px) { 
.i_comcont .main {
    float: left;
    display: inline;
    width: 620px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    padding-bottom: 29767px;
    margin-bottom: -29767px;
}
}
@media screen and (max-width: 800px) { 
.i_comcont .main {
    float: left;
    display: inline;
    width: 100%;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    padding-bottom: 29767px;
    margin-bottom: -29767px;
}
}
.i_comtab {
	width:100%;
	float:left;
    border-bottom: 4px solid #333;
    overflow: hidden;
    zoom: 1;
    padding-bottom: 12px;
}
@media screen and (min-width: 801px) { 
.i_comtab dd {
    float: left;
    display: inline;
    border-left: 2px solid #333;
}
}
@media screen and (max-width: 800px) { 
.i_comtab dd {
    width:48%;
    line-height: 50px;
	padding:0.5em 0 0.5em;
	margin:0.5em 1% 0.5em 1%;
    float: left;
    display: inline;
	background:#f5f5f5;
	text-align:center;
}
}
.i_comtab dd a {
    padding: 0 17px;
    color: #333;
    font-size: 1em;
    line-height: 20px;
}
.i_comtab dd.on a {
    font-weight: bold;
}
.i_comtab dd.on a:hover {
    color: #e11a1f;
    text-decoration: none;
}
.i_comtab .writer {
    float: right;
    display: inline;
    font-size: 16px;
}
.i_comtab .writer a {
    color: #423f3f;
}
.i_comtab .writer i.zhuanlan {
    width: 13px;
}
.i_comtab .writer i {
    background: url(http://static1.mtime.cn/channel/20160902151944/images/com_icon.png) no-repeat 0 0;
    height: 18px;
    display: inline-block;
    position: relative;
    zoom: 1;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 5px 0 12px;
}
.com_conlist {
    position: relative;
    zoom: 1;
    overflow: hidden;
    margin-top: 12px;
	clear:both;
}
.com_conlist li {
	width:100%;
    position: relative;
    border-top: 1px solid #e1e1e1;
    margin-top: -1px;
    padding: 25px 0;
    zoom: 1;
	float:left;
}
.com_conlist li i.prize_tag {
    background: url(http://static1.mtime.cn/channel/20160902151944/images/com_icon.png) no-repeat -138px 0;
    width: 72px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 15px;
    zoom: 1;
    line-height: 0;
    font-size: 0;
}
.com_act {
	width:100%;
    padding-top: 20px;
	float:left;
}
.com_act dt {
    float: right;
    display: inline;
    width: 162px;
}
.com_conlist dt img {
    border: 1px solid #ccc;
}
.com_act dd {
    float: left;
    display: inline;
    width: 420px;
}
.com_conlist h3 {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: normal;
}
.com_conlist h3 a {
    color: #333;
}
.com_conlist .pcont {
    font-size: 16px;
    color: #666;
    line-height: 1.7em;
    margin-top: 15px;
    word-break: break-all;
    word-wrap: break-word;
}
.com_act .timebox {
    margin-top: 20px;
}
.com_act .timebox span {
    background: #e8e8e8;
    height: 30px;
    float: left;
    display: inline;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    padding: 0 15px;
    border-radius: 5px;
}
.com_act .timebox a {
    background: #0087e2;
    width: 117px;
    height: 32px;
    float: right;
    border-radius: 20px;
    display: inline;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}
.com_movies dt {
    float: right;
    display: inline;
    width: 98px;
}
.com_movies dd {
    float: left;
    display: inline;
    width: 100%;
}
.com_ulr {
    position: relative;
    zoom: 1;
    padding-left: 85px;
}
.com_ulr .img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
}
.db_point {
    background: #679c21;
    display: inline-block;
    position: relative;
    zoom: 1;
    padding: 4px 5px 4px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #fff;
    vertical-align: bottom;
    _vertical-align: -1px;
    overflow: hidden;
}
.com_conlist .pcont {
    font-size: 16px;
    color: #666;
    line-height: 1.7em;
    margin-top: 15px;
    word-break: break-all;
    word-wrap: break-word;
}
.com_conlist .pcont i {
    background: url(http://static1.mtime.cn/channel/20160902151944/images/com_icon.png) no-repeat -210px 0;
    width: 34px;
    height: 28px;
    display: inline-block;
    position: relative;
    zoom: 1;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 20px;
}
.com_conlist .pcont a {
    margin-left: 8px;
}
.com_usercom {
    margin-top: 15px;
}
@media screen and (min-width: 801px) { 
.com_usercom .ele_replay {
    float: left;
    width: 335px;
}
}
@media screen and (max-width: 800px) { 
.com_usercom .ele_replay {
    float: left;
}
}
.com_usercom .comnum {
    float: left;
    color: #747474;
    margin-left: 10px;
    padding-top: 8px;
}
.comnumi {
    background: url(http://static1.mtime.cn/channel/20160902151944/images/allicon24.png) no-repeat;
    width: 17px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 15px;
    /* zoom: 1; */
    overflow: hidden;
    margin-right: 3px;
    vertical-align: text-bottom;
}
.news_addmore {
    text-align: center;
    margin-top: 20px;
}
.news_addmore a, .news_addmore a:hover {
    display: inline-block;
    font-size: 16px;
    color: #2d2d2d;
    text-decoration: none;
}
.news_addmore a i {
    background: url(http://static1.mtime.cn/channel/20160902151944/images/com_icon.png) no-repeat -75px -23px;
    width: 45px;
    height: 45px;
    position: relative;
    zoom: 1;
    overflow: hidden;
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}
<!--主体左边部分-->
<!--主体右边部分-->
.indexleft{
    float: right;
    display: inline;
    width: 300px;
}
@media screen and (min-width: 801px) { 
.i_comcont .sieder {
    float: right;
    display: inline;
    width: 300px;
}
}
@media screen and (max-width: 800px) { 
.i_comcont .sieder {
	display:none;
}
}
.com_mod {
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}
.com_mod h4 {
    font-size: 18px;
    line-height: 1.2em;
}
.com_hotgroup dt {
    border-bottom: 1px dotted #ccc;
    margin-top: 15px;
    padding-bottom: 12px;
}
.com_hotgroup dt div {
    position: relative;
    zoom: 1;
    padding-left: 85px;
    min-height: 50px;
}
.com_hotgroup dd {
    border-bottom: 1px dotted #ccc;
    padding: 12px 0;
}
.com_hotgroup h3 a {
    color: #333;
    font-size: 16px;
    font-weight: normal;
}
.com_hotgroup dd p {
    margin-top: 5px;
}
.com_hotgroup {
    font-size: 13px;
    color: #666;
    width: 300px;
    overflow: hidden;
    position: relative;
    zoom: 1;
}
.com_hotgroup ul {
    width: 351px;
    margin-left: -25px;
    padding-top: 20px;
}
.com_hotgroup li {
    float: left;
    display: inline;
    border-left: 2px solid #e6e6e6;
    font-size: 14px;
    width:49%;
    text-align: center;
    margin: 3px 0;
}
.com_mod h4 {
    font-size: 18px;
    line-height: 1.2em;
}
.com_hotuser {
    position: relative;
    zoom: 1;
    overflow: hidden;
}
.com_hotuser dd {
    border-top: 1px dotted #ccc;
    padding: 12px 0 12px 65px;
    position: relative;
    zoom: 1;
    margin-top: -1px;
    min-height: 52px;
}
.com_hotuser img {
    position: absolute;
    left: 0;
    top: 15px;
    min-height: 52px;
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.com_hotuser h3 {
    font-size: 14px;
}
.com_hotusertab {
    width: 300px;
    position: relative;
    overflow: hidden;
    zoom: 1;
    margin-top: 20px;
    padding-bottom: 12px;
}
.com_hotusertab ul {
    width: 451px;
    margin-left: -25px;
}
.com_hotusertab li {
    float: left;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    border-right: 2px solid #333;
    width: 115px;
    text-align: center;
}
.com_hotusertab li.on {
    cursor: default;
    color: #e11a1f;
}
<!--主体右边部分-->
<!--底部-->
.bottom{
	width:100%;
	float:left;
	clear:both;
}
@media screen and (min-width: 801px) { 
.footout {
	width:100%;
	float:left;
    background: #f7f7f7;
    position: relative;
    zoom: 1;
    font-family: helvetica,"微软雅黑","microsoft yahei",verdana,lucida,arial,sans-serif,"黑体";
}
}
@media screen and (max-width: 800px) { 
.footout {
	display:none;
}
}
.footout .topline {
    background: url(/images/foot.png) no-repeat center 0 #337fab;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.footinner {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 15px;
}
.footinner .fotlogo {
    width: 35%;
    float: left;
    display: inline;
    position: relative;
    min-height: 157px;
}
.fotlogo dl {
    padding: 0 20px;
}
.fotlogo dt {
    padding-bottom: 10px;
}
.fotlogo dt a {
    background: url(/images/head.png) no-repeat 0 0;
    width: 136px;
    height: 44px;
    display: block;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
.fotlogo dd {
    float: left;
    line-height: 1.8em;
    margin: 0 0.5em 0 0.5em;
}
.footinner a {
    color: #333;
}
.fotlogo .line, .fotmap .line {
    background: url(/images/foot.png) no-repeat -495px -9px;
    width: 1px;
    height: 157px;
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.footinner .fotmap {
    width: 25%;
    float: left;
    display: inline;
    position: relative;
    min-height: 157px;
}
.fotmap dl {
    float: left;
    display: inline;
    margin-left: 33px;
    line-height: 2em;
}
.fotmap dd {
    font-size: 16px;
    line-height: 2em;
    float: left;
    margin:0 0.5em 0 0.5em;
}
.fotmap .my_layer {
    left: 380px;
    top: -30px;
}
.footinner .fotweek {
    width: 23%;
    float: left;
    display: inline;
    min-height: 157px;
}
.fotweek dl {
    width: 172px;
    margin: 0 auto;
}
.fotweek dd {
    margin-top: 10px;
}
.fotweek .input {
    background: url(/images/foot.png) no-repeat -330px -35px;
    width: 163px;
    height: 25px;
    position: relative;
    zoom: 1;
    padding-top: 1px;
}
.fotweek .input input {
    background: transparent;
    width: 100px;
    text-align: center;
    margin-left: 12px;
    border: 0;
    height: 22px;
}
.fotweek .input a {
    background: url(/images/foot.png) no-repeat -330px -9px;
    width: 54px;
    height: 25px;
    position: absolute;
    right: -10px;
    top: 1px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 25px;
}
.footinner .fothr {
    width: 15%;
    float: right;
    display: inline;
    min-height: 157px;
    text-align: center;
}
.fothr dt {
    color: #7d7d7d;
}
.fothr dt strong {
    font-size: 18px;
    font-weight: normal;
    color: #333;
    line-height: 1em;
}
.fothr dd {
    margin-top: 12px;
}
.fothr i {
    background: url(/images/foot.png) no-repeat -795px -9px;
    width: 99px;
    height: 99px;
    margin: 0 auto;
    display: block;
}
.footinner a {
    color: #333;
}
.db_foot {
	width:100%;
	float:left;
    background: #f7f7f7;
    color: #7e7e7f;
    text-align: center;
    font-family: verdana,"宋体";
    padding: 30px 0 20px;
    line-height: 2em;
}
.db_foot a {
    color: #7e7e7f;
}
@media screen and (max-width: 800px) { 
#M14_B_CommunityIndex_SubNavUnderTG{
	width:100%;
	float:left;
	overflow:hidden;
}
#M14_B_CommunityIndex_SubNavUnderTG img{
	width:100%;
	float:left;
}
}

/*搜索分页*/
.search_page {
    width: 100%;
    float: left;
    border-top: 1px solid #ccc;
    padding-top: 1.5em;
}
.search_page ul {
    width: 100%;
    float: left;
}
.search_page ul li {
    width: 10%;
    float: left;
    display: inline;
    border: 1px solid #e1e1e1;
    line-height: 1em;
    padding: 1em 0 1em 0;
    margin: 0.5em;
}
.search_page ul i {
    float: left;
    padding: 1em 0;
}
.search_page ul li a{
    width:100%;
    float: left;
    color:#666;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .search_page ul li {
        width: 15%;
        padding: 0.7em 0 0.7em 0;
    }
}
.neirongkaishi{
    line-height: 30px;
    font-size: 15px;
}